/* ======================================== 
    GLOBAL COLORS
   ======================================== */
:root {
    --color-blue: #0097e6;
    --color-yellow: #e1b12c;
    --color-green: #44bd32;
    --color-gray: #40739e;
    --color-red: #c23616;
    --color-white: #f5f6fa;
    --color-dark-white: #dcdde1;
    --color-dark-gray: #718093;
    --color-dark-blue: #273c75;
    --color-dark: #2f3640;
}

/* ======================================== 
    GLOBAL STYLES
   ======================================== */
* {
    box-sizing: border-box;
}

html {}

body {}

/* ======================================== 
    HELPER CLASSES 
   ======================================== */
.container {
    width: 90%;
    padding: 20px;
}

/* ======================================== 
    HEADER

   ======================================== */
header.site-header {}

/* ======================================== 
    MAIN

   ======================================== */
main.site-main {}

/* ======================================== 
    FOOTER

   ======================================== */
footer.site-footer {}